@model NateParker.ViewModels.CatFactViewModel
@{
    ViewData["Title"] = "API Work";
}
<div class="text-center">
    <h1 class="display-4">Cat Facts</h1>
    <h6>...meeeeeow</h6>
</div>
<div>@Model.Fact</div>