@{
    ViewData["Title"] = "API Work";
}
<div class="text-center">
    <h1 class="display-4">Various API Examples</h1>
</div>
<div><a asp-action="CatFacts">Cat Facts</a></div>
<div><a asp-action="Strava">Strava</a></div>